body {
    background-color: rgb(253, 122, 0)
}

#powitanie {
    background-color: rgb(149, 255, 237);
    color: rgb(247, 108, 132);
}

#dźajupiii {
    color: brown;
    font-weight: 900;
    font-size: 10px;
    transition-duration: 1s;
}

#klasasa {
    color: rgb(128, 140, 255)
}

#dźajupiii:hover {
    color: blue;
    font-size: 2500px;
    font-weight: 900;
    border-radius: 30px;
    transition-duration: 1s;


}

.zdjecia {
    width: 300px;
    transition-duration: 5.5s;
}

.zdjecia:hover {

    width: 800px;
    transition-duration: 9.5s;
    rotate: 3600000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000deg;
    border-radius: 1000px;
    box-shadow: 20px 20px 20px rgb(10, 0, 10);

}

#nawigacja {
    width: 100%;
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    position: sticky;
    top: 0;

}

#nawigacja a {
    color: aquamarine;
    text-decoration: none;
    position: sticky;
    top: 0;
}

input {
    border-radius: 30px;
    border: 2px solid blue;
    padding: 20px;
    font-family: "Warnes", "normal"
}



.honk-custom {
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "MORF" 15, "SHLN" 50;
}

.warnes-regular {
    font-family: "Warnes", cursive;
    font-weight: 400;
    font-style: normal;

}